p

{
	color: white;
}

i

{
	color: white;
}

h1

{
	color: white;
}

h2

{
	color: white;
}

body

{


a

{
	color: white;
}

h3

{
	color: white;
}

font-family: 'Open Sans;', sans-sherif;
background-image :  url("https://img.itch.zone/aW1nLzk5MTM2MTAuanBn/original/uQKzAN.jpg");
backround-size: 100%;
background-repeat: no-repeat;
background-attachment: fixed;
}

